
<footer class="footer">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 footer-col">
                <div class="card">
                    <div class="center-vertical">
                        <nav>
                            <ul>
                                <li>
                                    <a href="https://www.royal-square.com" target="_blank">
                                        SureLokk
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.royal-square.com/about" target="_blank">
                                        About Us
                                    </a>
                                </li>
                                <li>
                                    <a href="https://royal-square.com" target="_blank">
                                        Plans
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="copyright">
                            &copy;
                            {{year | date: 'yyyy'}} by
                            <a href="https://www.royal-square.com" target="_blank">Royal Square Financial</a>. Developed by
                            <a href="https://developmenthub.co.za" target="_blank">Developmenthub</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>
