<a style="margin:1em;" href="#" class="m-nav__link m-dropdown__toggle">
    <span class="m-topbar__userpic">
        <span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger" [ngClass]="animateBlink"></span>
        <span class="m-nav__link-icon" [ngClass]="animateShake">
            <img width="30" height="30" src="{{alarm}}" class="m--img-rounded m--marginless m--img-centered" alt="" />
        </span>
    </span>
</a>

<div class="m-dropdown__wrapper" style="margin-left: -350px">
    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
    <div class="m-dropdown__inner ">
        <div class="m-dropdown__header m--align-center" style="background: url(./assets/images/notification_bg.jpg); background-size: cover;">
            <span class="m-dropdown__header-title">
                5 New
            </span>
            <span class="m-dropdown__header-subtitle">
                User Notifications
            </span>
        </div>
        <div class="m-dropdown__body">
            <div class="m-dropdown__content">
                <div class="m-timeline-2">
                    <div class="m-timeline-2__items  m--padding-top-25 m--padding-bottom-30">
                        <div class="m-timeline-2__item">
                            <div class="m-timeline-2__item-cricle">
                                <i class="fa fa-genderless m--font-danger"></i>
                            </div>
                            <div class="m-timeline-2__item-text  m--padding-top-5">
                                Lorem ipsum dolor sit amit,consectetur eiusmdd tempor
                            </div>
                        </div>
                        <div class="m-timeline-2__item m--margin-top-30">
                            <div class="m-timeline-2__item-cricle">
                                <i class="fa fa-genderless m--font-success"></i>
                            </div>
                            <div class="m-timeline-2__item-text m-timeline-2__item-text--bold">
                                AEOL Meeting With
                            </div>
                        </div>
                        <div class="m-timeline-2__item m--margin-top-30">
                            <div class="m-timeline-2__item-cricle">
                                <i class="fa fa-genderless m--font-brand"></i>
                            </div>
                            <div class="m-timeline-2__item-text m--padding-top-5">
                                Make Deposit
                                <a href="#" class="m-link m-link--brand m--font-bolder">R 700</a> To ESL.
                            </div>
                        </div>
                        <div class="m-timeline-2__item m--margin-top-30">
                            <div class="m-timeline-2__item-cricle">
                                <i class="fa fa-genderless m--font-warning"></i>
                            </div>
                            <div class="m-timeline-2__item-text m--padding-top-5">
                                Lorem ipsum dolor sit amit,consectetur eiusmdd tempor
                            </div>
                        </div>
                        <div class="m-timeline-2__item m--margin-top-30">
                            <div class="m-timeline-2__item-cricle">
                                <i class="fa fa-genderless m--font-brand"></i>
                            </div>
                            <div class="m-timeline-2__item-text m--padding-top-5">
                                Lorem ipsum dolor sit amit,consectetur eiusmdd tempor
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
