:host {
    /deep/.mat-tab-label,
    /deep/.mat-tab-label-active {
        min-width: 0 !important;
        padding: 0 10px !important;
        margin: 0 10px !important;
    }
}

@media (min-width: 1025px) {
    .m-dropdown.m-dropdown--align-center.m-dropdown--large .m-dropdown__wrapper {
        width: 380px;
        margin-left:-300px !important;
    }
}
