<div class="logo">
    <a href="https://www.royal-square.com" class="simple-text logo-mini">
        <div class="logo-img">

            <img src="../../../assets/images/sure_lock.png" />
        </div>
    </a>
    <a href="https://www.royal-square.com" class="simple-text logo-normal">
        SureLokk
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="material-icons md-40">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
